html.theme-yellow,
:root.theme-yellow {
  --background: oklch(0.9953 0.0042 121.5597);
  --foreground: oklch(0.1476 0.0044 121.7313);
  --card: oklch(0.9953 0.0042 121.5597);
  --card-foreground: oklch(0.1476 0.0044 121.7313);
  --popover: oklch(0.9953 0.0042 121.5597);
  --popover-foreground: oklch(0.1476 0.0044 121.7313);
  --primary: oklch(0.9104 0.2445 129.8602);
  --primary-foreground: oklch(0.1476 0.0044 121.7313);
  --secondary: oklch(0.9698 0.0014 121.5148);
  --secondary-foreground: oklch(0.2199 0.0059 121.9294);
  --muted: oklch(0.9698 0.0014 121.5148);
  --muted-foreground: oklch(0.5743 0.0139 121.8831);
  --accent: oklch(0.9698 0.0014 121.5148);
  --accent-foreground: oklch(0.2199 0.0059 121.9294);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.9264 0.0042 121.5648);
  --input: oklch(0.9264 0.0042 121.5648);
  --ring: oklch(0.9104 0.2445 129.8602);
  --chart-1: oklch(0.9104 0.2445 129.8602);
  --chart-2: oklch(0.9401 0.1889 109.5430);
  --chart-3: oklch(0.7852 0.2373 142.8970);
  --chart-4: oklch(0.8702 0.1216 195.1505);
  --chart-5: oklch(0.6244 0.1793 279.8706);
  --sidebar: oklch(0.9861 0.0125 121.6967);
  --sidebar-foreground: oklch(0.1476 0.0044 121.7313);
  --sidebar-primary: oklch(0.9104 0.2445 129.8602);
  --sidebar-primary-foreground: oklch(0.1476 0.0044 121.7313);
  --sidebar-accent: oklch(0.9482 0.0024 121.5323);
  --sidebar-accent-foreground: oklch(0.2199 0.0059 121.9294);
  --sidebar-border: oklch(0.9115 0.0050 121.5811);
  --sidebar-ring: oklch(0.9104 0.2445 129.8602);
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0;
  --shadow-opacity: 0.05;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 4px 10px 0 hsl(0 0 0 / 0.03);
  --shadow-xs: 0 4px 10px 0 hsl(0 0 0 / 0.03);
  --shadow-sm: 0 4px 10px 0 hsl(0 0 0 / 0.05), 0 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow: 0 4px 10px 0 hsl(0 0 0 / 0.05), 0 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow-md: 0 4px 10px 0 hsl(0 0 0 / 0.05), 0 2px 4px -1px hsl(0 0 0 / 0.05);
  --shadow-lg: 0 4px 10px 0 hsl(0 0 0 / 0.05), 0 4px 6px -1px hsl(0 0 0 / 0.05);
  --shadow-xl: 0 4px 10px 0 hsl(0 0 0 / 0.05), 0 8px 10px -1px hsl(0 0 0 / 0.05);
  --shadow-2xl: 0 4px 10px 0 hsl(0 0 0 / 0.13);
  --tracking-normal: 0;
  --spacing: 0.25rem;
}

html.theme-yellow-dark,
:root.theme-yellow-dark {
  color-scheme: dark;
  --background: oklch(0.1476 0.0044 121.7313);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.1476 0.0044 121.7313);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.1476 0.0044 121.7313);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.9104 0.2445 129.8602);
  --primary-foreground: oklch(0.1476 0.0044 121.7313);
  --secondary: oklch(0.2831 0.0056 121.8101);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.2831 0.0056 121.8101);
  --muted-foreground: oklch(0.7329 0.0131 121.7810);
  --accent: oklch(0.2831 0.0056 121.8101);
  --accent-foreground: oklch(0.9848 0 0);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.2831 0.0056 121.8101);
  --input: oklch(0.2831 0.0056 121.8101);
  --ring: oklch(0.9104 0.2445 129.8602);
  --chart-1: oklch(0.9104 0.2445 129.8602);
  --chart-2: oklch(0.9401 0.1889 109.5430);
  --chart-3: oklch(0.7852 0.2373 142.8970);
  --chart-4: oklch(0.8702 0.1216 195.1505);
  --chart-5: oklch(0.6244 0.1793 279.8706);
  --sidebar: oklch(0.1744 0.0064 122.0862);
  --sidebar-foreground: oklch(0.9848 0 0);
  --sidebar-primary: oklch(0.9104 0.2445 129.8602);
  --sidebar-primary-foreground: oklch(0.1476 0.0044 121.7313);
  --sidebar-accent: oklch(0.3052 0.0062 121.8198);
  --sidebar-accent-foreground: oklch(0.9848 0 0);
  --sidebar-border: oklch(0.2626 0.0050 121.7996);
  --sidebar-ring: oklch(0.9104 0.2445 129.8602);
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0;
  --shadow-opacity: 0.3;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 4px 10px 0 hsl(0 0 0 / 0.15);
  --shadow-xs: 0 4px 10px 0 hsl(0 0 0 / 0.15);
  --shadow-sm: 0 4px 10px 0 hsl(0 0 0 / 0.30), 0 1px 2px -1px hsl(0 0 0 / 0.30);
  --shadow: 0 4px 10px 0 hsl(0 0 0 / 0.30), 0 1px 2px -1px hsl(0 0 0 / 0.30);
  --shadow-md: 0 4px 10px 0 hsl(0 0 0 / 0.30), 0 2px 4px -1px hsl(0 0 0 / 0.30);
  --shadow-lg: 0 4px 10px 0 hsl(0 0 0 / 0.30), 0 4px 6px -1px hsl(0 0 0 / 0.30);
  --shadow-xl: 0 4px 10px 0 hsl(0 0 0 / 0.30), 0 8px 10px -1px hsl(0 0 0 / 0.30);
  --shadow-2xl: 0 4px 10px 0 hsl(0 0 0 / 0.75);
}