html.theme-purple,
:root.theme-purple {
  --background: oklch(0.9887 0.0040 286.3257);
  --foreground: oklch(0.1405 0.0044 285.8238);
  --card: oklch(0.9887 0.0040 286.3257);
  --card-foreground: oklch(0.1405 0.0044 285.8238);
  --popover: oklch(0.9887 0.0040 286.3257);
  --popover-foreground: oklch(0.1405 0.0044 285.8238);
  --primary: oklch(0.4380 0.2568 284.5078);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.9676 0.0013 286.3752);
  --secondary-foreground: oklch(0.2103 0.0059 285.8835);
  --muted: oklch(0.9676 0.0013 286.3752);
  --muted-foreground: oklch(0.5519 0.0137 285.9422);
  --accent: oklch(0.9676 0.0013 286.3752);
  --accent-foreground: oklch(0.2103 0.0059 285.8835);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.9197 0.0040 286.3200);
  --input: oklch(0.9197 0.0040 286.3200);
  --ring: oklch(0.4380 0.2568 284.5078);
  --chart-1: oklch(0.4380 0.2568 284.5078);
  --chart-2: oklch(0.6093 0.1800 271.5702);
  --chart-3: oklch(0.8174 0.1273 194.9517);
  --chart-4: oklch(0.7619 0.1504 61.6109);
  --chart-5: oklch(0.7228 0.1644 350.7352);
  --sidebar: oklch(0.9661 0.0122 286.1689);
  --sidebar-foreground: oklch(0.1405 0.0044 285.8238);
  --sidebar-primary: oklch(0.4380 0.2568 284.5078);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.9445 0.0023 286.3560);
  --sidebar-accent-foreground: oklch(0.2103 0.0059 285.8835);
  --sidebar-border: oklch(0.9035 0.0049 286.3018);
  --sidebar-ring: oklch(0.4380 0.2568 284.5078);
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0;
  --shadow-opacity: 0.05;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 4px 10px 0 hsl(0 0 0 / 0.03);
  --shadow-xs: 0 4px 10px 0 hsl(0 0 0 / 0.03);
  --shadow-sm: 0 4px 10px 0 hsl(0 0 0 / 0.05), 0 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow: 0 4px 10px 0 hsl(0 0 0 / 0.05), 0 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow-md: 0 4px 10px 0 hsl(0 0 0 / 0.05), 0 2px 4px -1px hsl(0 0 0 / 0.05);
  --shadow-lg: 0 4px 10px 0 hsl(0 0 0 / 0.05), 0 4px 6px -1px hsl(0 0 0 / 0.05);
  --shadow-xl: 0 4px 10px 0 hsl(0 0 0 / 0.05), 0 8px 10px -1px hsl(0 0 0 / 0.05);
  --shadow-2xl: 0 4px 10px 0 hsl(0 0 0 / 0.13);
  --tracking-normal: 0;
  --spacing: 0.25rem;
}

html.theme-purple-dark,
:root.theme-purple-dark {
  color-scheme: dark;
  --background: oklch(0.1405 0.0044 285.8238);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.1405 0.0044 285.8238);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.1405 0.0044 285.8238);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.4380 0.2568 284.5078);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.2741 0.0055 286.0329);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.2741 0.0055 286.0329);
  --muted-foreground: oklch(0.7119 0.0129 286.0684);
  --accent: oklch(0.2741 0.0055 286.0329);
  --accent-foreground: oklch(0.9848 0 0);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.2741 0.0055 286.0329);
  --input: oklch(0.2741 0.0055 286.0329);
  --ring: oklch(0.4380 0.2568 284.5078);
  --chart-1: oklch(0.4380 0.2568 284.5078);
  --chart-2: oklch(0.6093 0.1800 271.5702);
  --chart-3: oklch(0.8174 0.1273 194.9517);
  --chart-4: oklch(0.7619 0.1504 61.6109);
  --chart-5: oklch(0.7228 0.1644 350.7352);
  --sidebar: oklch(0.1641 0.0064 285.6767);
  --sidebar-foreground: oklch(0.9848 0 0);
  --sidebar-primary: oklch(0.4380 0.2568 284.5078);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.2953 0.0061 286.0211);
  --sidebar-accent-foreground: oklch(0.9848 0 0);
  --sidebar-border: oklch(0.2546 0.0049 286.0458);
  --sidebar-ring: oklch(0.4380 0.2568 284.5078);
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0;
  --shadow-opacity: 0.3;
  --shadow-color: 0 0 0;
  --shadow-2xs: 0 4px 10px 0 hsl(0 0 0 / 0.15);
  --shadow-xs: 0 4px 10px 0 hsl(0 0 0 / 0.15);
  --shadow-sm: 0 4px 10px 0 hsl(0 0 0 / 0.30), 0 1px 2px -1px hsl(0 0 0 / 0.30);
  --shadow: 0 4px 10px 0 hsl(0 0 0 / 0.30), 0 1px 2px -1px hsl(0 0 0 / 0.30);
  --shadow-md: 0 4px 10px 0 hsl(0 0 0 / 0.30), 0 2px 4px -1px hsl(0 0 0 / 0.30);
  --shadow-lg: 0 4px 10px 0 hsl(0 0 0 / 0.30), 0 4px 6px -1px hsl(0 0 0 / 0.30);
  --shadow-xl: 0 4px 10px 0 hsl(0 0 0 / 0.30), 0 8px 10px -1px hsl(0 0 0 / 0.30);
  --shadow-2xl: 0 4px 10px 0 hsl(0 0 0 / 0.75);
}